{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
      <!-- Example Bar Chart Card-->
      <div class="card mb-3">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
              <tr>
                <th>Test plan name</th>
                <th>Passed cases</th>
                <th>Failed cases</th>
                <th>Uncheked cases</th>
              </tr>
              </thead>
              <tbody>
              {% for item in metrics %}
              <tr>
                <td>
                  <div class="p mb-0 text-primary">{{ item }}</div>
                </td>
                <td>
                  <div class="p mb-0 text-success">{{ metrics[item]['passed'] }}</div>
                </td>
                <td>
                  <div class="p mb-0 text-warning">{{ metrics[item]['failed'] }}</div>
                </td>
                <td>
                  <div class="p mb-0 text-primary">{{ metrics[item]['none'] }}</div>
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}