{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
    <form method="POST" class="add-release">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label class="col-form-label" for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Place for input your release name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="3"></textarea>
        </div>
        <button type="button" class="btn btn-success">Commit</button>
    </form>
</div>
{% endblock %}