{% extends "layout.html" %}
{% block body %}
  {% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <!-- <strong>Title</strong> --> {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
<form method='POST'>
<div class="container-fluid">
  <div class="card mb-3">
    <div class="card-header">
      <h3> {{ release.name }} </h3>
      <hr>
      <p> {{ release.description }} </p>
      <hr>
      <p> Status:
        {% if release.status == 'In progress' %}
            <button type="button" class="btn btn-outline-secondary">{{ release.status }}</button>
        {% endif %}
      </p>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">status</th>
        </tr>
        </thead>
        <tbody>
        {% for item in test_plans %}
        <tr>
          <td><a href="{{ url_for('testplans.read', id=item.id ) }}"> {{ item.name }} </a></td>
          <td>{{ item.description }}</td>
          <td>
            {% if item.status == 'Closed' %}
                <button type="button" class="btn btn-outline-warning">{{ item.status }}</button>
            {% endif %}
            {% if item.status == 'None' %}
                <button type="button" class="btn btn-outline-secondary">{{ item.status }}</button>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      <hr>
      <div class="row">
        {% if user.role == 'manager' or user.role == 'admin' %}
          <input class="btn btn-danger btn-block" type="submit" value="Close release">
        {% endif %}
      </div>
  </div>
</div>
</form>
{% endblock %}