{% extends "layout.html" %}
{% block body %}
  {% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <!-- <strong>Title</strong> --> {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
<form action="{{ url_for('releases.read') }}" method='POST'>
<div class="container-fluid">
  <div class="card mb-3">
    <div class="card-header">
      <h3> {{ release.name }} </h3>
      <hr>
      <p> {{ release.description }} </p>
      <hr>
      <p> Status: {{ release.status }} </p>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">status</th>
        </tr>
        </thead>
        <tbody>
        {% for item in test_plans %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.status }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>

    <div class="card-body">
    </div>
      <input class="btn btn-danger btn-block" type="submit" value="Close release">
  </div>
</div>
</form>
{% endblock %}