{% extends "layout.html" %}
  {% block body %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <!-- <strong>Title</strong> --> {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

<div class="card mb-3">
  <a href="{{ url_for('testcases.create', testplanid=testplan.id ) }}" type="button" class="btn btn-success">Create test-case</a>
</div>

<form method='POST'>
  <div class="container-fluid">
    <div class="card mb-3">
      <div class="card-header">
        <h3> {{ testplan.name }} </h3>
        <hr>
        <p> {{ testplan.description }} </p>
        <hr>
        <p> Status: {{ testplan.status }} </p>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Commentary</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          {% for item in test_cases %}
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.comment }}</td>
            <td>
              {% if item.status == 'Passed' %}
                <button type="button" class="btn btn-outline-success">{{ item.status }}</button>
              {% endif %}
              {% if item.status == 'Failed' %}
                <button type="button" class="btn btn-outline-danger">{{ item.status }}</button>
              {% endif %}
              {% if item.status == 'None' %}
              <button type="button" class="btn btn-outline-secondary">{{ item.status }}</button>
              {% endif %}
            </td>
            <td>
              {% if item.status == 'None' %}
                <a href="{{ url_for('testcases.passed', id=item.id ) }}" type="button" class="btn btn-success">Pass</a>
                <a href="{{ url_for('testcases.failed', id=item.id ) }}" type="button" class="btn btn-danger">Fail</a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>

        <div class="card-body">
        </div>
        <input class="btn btn-danger btn-block" type="submit" value="Close testplan">
      </div>
    </div>
</form>
{% endblock %}